@model IEnumerable<Simple_HMS.Interface.IPatient>

@{
    ViewBag.Title = "search";
}
@Html.Partial("_alerts")

<h2>search term: @ViewBag.regno</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.patients_regno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reg_date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.patients_regno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reg_date)
            </td>
            <td>
                @Html.ActionLink("Details", "patients", new { regno = item.patients_regno })
            </td>
        </tr>
    }

</table>
